/* vim: set wrap breakindent: */

html, body {
	margin:0;
	padding:0;
}

html {
	background-color: #c4c4c46b;
}

body {
	max-width: 80ch;
	margin: auto;
	padding: 1ch;
	margin-top: 1rem;
	background-color: white;
	font-size: 1rem;
	border-radius: 0.8rem;
}

p,h1,h2,h3,h4,h5,h6 {
	font-family: "Atkinson Hyperlegible", sans-serif;
}

h1 {
	text-align: center;
}

a {
	color: darkblue;
}

pre, code {
	font-family: "Fira Code", monospace;
	font-size: small;
}

pre {
	background-color: bisque;
	padding: 1ch;
	border-radius: 0.4rem;
}

footer,nav {
	text-align: center;
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: small;
}
